@page "/game"
@inherits ConnectedComponent
@using FirstBlazorHybridApp.redux.slices
@using FirstBlazorHybridApp.Game;
@using FirstBlazorHybridApp.WebUI.Shared.Game;

@if (this.State.GameState.GameProgress.Status == GameStatus.NOT_STARTED)
{
    <Setup />
}
else
{
    @if (!this.showAdd)
    {
        <button class="btn btn-primary" @onclick="this.toggleAdd">Add Team</button>
    }
    else
    {
        <div>
            <input type="text" placeholder="Team Name" @bind="this.name" />
            <button class="btn btn-primary" @onclick="this.addTeam">+</button>
        </div>
    }
}




@code {
    private string name = "";
    private bool showAdd = false;

    private void addTeam()
    {
        this.Dispatch(new GameSlice.AddTeam(this.name));
        this.toggleAdd();
        this.name = "";
    }

    private void toggleAdd()
    {
        this.showAdd = !this.showAdd;
    }


    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}
